
.bar {
    background-color: $main-bg;
    font-family: FiraCode Nerd Font, monospace;
    font-size: 16px;
}

.bar-main {
    padding: .5em;
}

.bar-section {
    &, > button:hover {
        border-radius: 4px;
    }
    background-color: $widget-bg;
}

.bar-section > *:not(:last-child) {
    border-bottom: 1px solid $section-separator;
}

.bar-widget {
    background-color: $widget-bg;
    color: $widget-fg;
    border-radius: $border-radius;
}

.desktop.occupied {
    color: #7e9cb8;
}

