.control {
    font-size: 20px;
}

.control-lightbox {
    background-color: rgba(30, 30, 30, 30%);
}

.control-main {
    // background-color: $main-bg;
    padding: .8em;
}

.control-widget {
    border-radius: .5em;
    padding: .5em .6em;
    // background-color: $widget-bg;
    background-color: $main-bg;
}

.powermenu-button {
    padding: 0 .7em;
    min-width: 2em;
    background-color: #252535;
}

.connection {
    font-size: 0.9em;
    padding: 0 1.2em;

    &:hover .device {
        text-decoration: underline
    }

    .text {
        padding: 0 .8em;
    }

    transition: background-color 250ms ease-out;

    .device {
        font-size: .8em;
    }
}

.greeting {
    font-weight: bold;

    // .username {
    //     color: #D27E99;
    //     font-style: italic;
    // }

    label {
        padding: 0;
    }

    .time {
        font-size: 3em;
    }

    .date {
        font-size: .9em;
        color: #54546D;
        font-weight: normal;
    }
}

scale trough {
    border-radius: 1em;
    background-color: #54546D;
    min-height: .7em;

    highlight {
        background-color: currentColor;
        border-radius: 1em;
    }
}

