// Colors from the Kanagawa NeoVim theme
$main-bg: #16161D;

$widget-bg: #1F1F28;
$widget-fg: #DCD7BA;

$widget-border-width: 2px;
$widget-border-style: solid;
$widget-border-color: $widget-fg;

$widget-border: $widget-border-width $widget-border-style $widget-border-color;

$section-separator: #54546D;

$hover-bg: #363646;

$border-radius: 4px;

@import "./widgets/bar.scss";
@import "./widgets/control.scss";

* { all: unset; }

button:not(.no-hover):hover {
    background-color: $hover-bg;
}

.vert-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

