// Colors from the Kanagawa NeoVim theme
$bar-bg: #16161D;

$widget-bg: #1F1F28;
$widget-fg: #DCD7BA;

$widget-border-width: 2px;
$widget-border-style: solid;
$widget-border-color: $widget-fg;

$widget-border: $widget-border-width $widget-border-style $widget-border-color;

$section-separator: #54546D;

$hover-bg: #363646;

$border-radius: 4px;

* { all: unset; }

button:hover {
    background-color: $hover-bg;
}

.vert-padding {
    padding-top: 8px;
    padding-bottom: 8px;
}

.bar {
    background-color: $bar-bg;
    font-family: FiraCode Nerd Font, monospace;
    font-size: 16px;
}

.bar-main {
    padding: 8px;
}

.bar-section {
    border-radius: 4px;
    background-color: $widget-bg;
}

.bar-section > *:not(:last-child) {
    border-bottom: 1px solid $section-separator;
}

.bar-widget {
    background-color: $widget-bg;
    color: $widget-fg;
    border-radius: $border-radius;
    // border: $widget-border;
}

.launcher {
    font-size: 20px;
}

.powermenu-button {
    font-size: 1.7em;
    padding: 0;
}

